.act-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-clear, .btn-filter{
    margin: 20px;
}

.table{
    margin-left: 20px;
    margin-right: 20px;
    border: solid black;
}
.heading{
    text-align: center;
    font-size: 50px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 3px;
}